table{
    margin: auto;
    border: 2px solid black;
    width: 630px;
}

td{
    /* border: 2px solid black; */
    width: 60px;
   text-align: center;
    
}



.name,.age{
    width: 120px;
}

.email,.contact{
    width: 180px;
}

.delete-btn{
    width: 30px;
}
